In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.read_csv("警政署資料.csv")

In [8]:
df

         Unnamed: 0             死亡人數概況  Unnamed: 2  單位：人
0            死亡人數概況  死亡人數 / 機關別總計(全選)          NaN    NaN
1              107年              1,493         NaN    NaN
2           107年 9月                136         NaN    NaN
3          107年 10月                115         NaN    NaN
4          107年 11月                144         NaN    NaN
5          107年 12月                155         NaN    NaN
6   108年<br>(1月至9月)              1,359         NaN    NaN
7           108年 1月                205         NaN    NaN
8           108年 2月                140         NaN    NaN
9           108年 3月                150         NaN    NaN
10          108年 4月                142         NaN    NaN
11          108年 5月                138         NaN    NaN
12          108年 6月                162         NaN    NaN
13          108年 7月                137         NaN    NaN
14          108年 8月                143         NaN    NaN
15          108年 9月                142         NaN    NaN

In [10]:
df["死亡人數概況"]

0     死亡人數 / 機關別總計(全選)
1                 1,493
2                   136
3                   115
4                   144
5                   155
6                 1,359
7                   205
8                   140
9                   150
10                  142
11                  138
12                  162
13                  137
14                  143
15                  142
Name: 死亡人數概況, dtype: object

In [12]:
df.drop("Unnamed: 2", axis=1,inplace=True)

In [20]:
dfs = df[:2]

In [21]:
dfs

  Unnamed: 0             死亡人數概況  單位：人
0     死亡人數概況  死亡人數 / 機關別總計(全選)     NaN
1       107年              1,493    NaN